@use '../abstracts' as a;
// HEADER STYLING

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 12.5vh;
    background-color: a.$color1;
    // overflow: hidden;
    transform: translateY(0);
    transition: a.$transition;
    box-shadow: a.$shadow;
}

header.slideUp {
    transform: translateY(-100%);
}

// HAMBURGER STYLING

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    z-index: 100;
    cursor: pointer;
    
    position: absolute;
    margin: 5%;
    right: 0;   
    
    span {
        display: block;
        width: 100%;
        height: 10%;
        background-color: a.$color2;
        border-radius: 2px;
    }
}

.hamburger.X span:nth-child(1) {
    transform: rotate(45deg);
    top: 12.5px;
    position: absolute;
    transition: a.$transition;
}

.hamburger.X span:nth-child(2) {
    opacity: 0;
    transition: a.$transition;
}

.hamburger.X span:nth-child(3) {
    transform: rotate(-45deg);
    top: 12.5px;
    position: absolute;
    transition: a.$transition;
}

.slide-out {
    animation: slide-out 0.25s forwards;
}

.slide-back {
    animation: slide-back 0.25s forwards;
}

@keyframes slide-out {
    0% {right:-100%;}
    100% {right: 0%}
}

@keyframes slide-back {
    0% {right: 0%;}
    100% {right: -100%}
}

// MOBILE STYLING

@media screen and (max-width: 767px) {
    .navbar {
        transform: translateY(-100%);
        transition: transform a.$transition;

        width: 100vw;
        height: 100vh;
        background-color: a.$color1;
        display: flex;
        flex-direction: column;
        place-content: center;
    }

    .navbar.open {
        transform: translateY(0);
    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;

        background-color: a.$color3;
        height: 100%;
        width: 75%;
        margin: auto;
    }
}

// DESKTOP STYLING

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .nav-ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }

    .nav-li:first-child {
        margin-right: auto;
    }

    .nav-li {
        width: 10%;
        height: 100%;
    }

    .nav-a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        place-content: center;
        transition: all a.$transition;

        &:hover {
            border: 0.5px a.$color2;
            border-style: none solid;
            background-color: a.$color3;
            font-size: 1.5rem;
        }

        &:active {
            font-size: 1rem;
        }
    }

    // DROPDOWN NAV

    .nav-dropdown {
        position: relative;
        cursor: pointer;
    }

    .dropdown-nav {
        display: flex;
        flex-direction: column;
        width: 200%;

        position: absolute;
        bottom: 0;

        // Centering Logic
        left: 50%;
        transform: translateX(-50%);

        z-index: 1;
        opacity: 0;
        transition: a.$transition;

        &:hover {
            opacity: 1;
            transform: translateX(-50%) translateY(100%);
        }
    }

    .nav-dropdown:hover .dropdown-nav {
        opacity: 1;
        transform: translateX(-50%) translateY(100%);
    }

    .dropdown-li {
        height: 10vh;
        background: a.$color3;
    }

    .dropdown-a {
        transition: a.$transition;

        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;
        background-color: a.$color4;

        &:hover {
            border: 0.5px a.$color2;
            border-style: none solid;
            background-color: a.$color3;
            font-size: 1.2rem;
        }

        &:active {
            font-size: 1rem;
        }
    }
}