@use '../abstracts' as a;

body {
    background-image: url(@/assets/images/bg-pattern-vector.svg);
    background-repeat: repeat;
    background-size: contain;
}

.content-con {
    background-color: a.$color5;
    margin: 5%;
}